.cryptocurrency {
    padding: 25px 40px 40px;
    margin: 12px;
    border-radius: 0.5rem;
    min-width: 10px;
    border: solid 1px rgba(0, 0, 0, 0.05);
}
.cryptocurrency p {
    color: rgba(0, 0, 0, 0.75);
}
.cryptocurrency-name {
    font-size: 1.25rem;
}
.mv{
    background-color: #ececec;
    border-bottom: solid 4px #bebebe;
    display : inline-block;
}